<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!--<suite parallel="tests" name="Suite">-->
<suite name="Suite">
	<listeners>
		<listener class-name="Practice.SeleniumFrameworkDesignTestComponent.Listeners"></listener>
	</listeners>
	<test thread-count="5" name="Submit Order">
		<classes>
			<class name="Practice.SeleniumFrameworkDesignTests.SubmitOrderTest" />
		</classes>
	</test> <!-- Test -->

	<!--<test thread-count="5" name="Invalid Case">
		<classes>
			<class name="Practice.SeleniumFrameworkDesignTests.InvalidCase_test" />
		</classes>
	</test>-->

</suite> <!-- Suite -->